@import '../../../assets/styles/variable';

.digicare-nav-title {
  font-size: 2rem !important;
  letter-spacing: .2rem;
  color: $navbarTitleColor;
  font-weight: 700;
  background-color: $navbarTitleBackgroundColor;
  cursor: pointer;
}

.digicare-nav-title:hover {
  color: $hovernavbarTitleColor;
  transition: 0.5s ease-in-out;
}